@import '../../style/variables';

.login-page {
  background-image: url('/public/assets/mountain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $white;
    row-gap: 40px;
    padding: 50px;
    height: 400px;

    label {
      position: relative;
    }

    input {
      width: 350px;
    }

    .alert {
      position: absolute;
      bottom: -100%;
      color: $red;
    }
  }
}
